In [105]:
import xlwings as xw
from cytoolz import itertoolz

In [106]:
book = xw.Book('data/工作量.xlsx')
print(book.sheets)

Sheets([<Sheet [工作量.xlsx]岗位>, <Sheet [工作量.xlsx]课时>, <Sheet [工作量.xlsx]工作量>, ...])

In [107]:
sht_job = book.sheets['岗位']
sht_num = book.sheets['课时']
sht_cnt = book.sheets['工作量']

In [108]:
list_num = sht_num.range('A3:J24').options(empty=0).value
dict_num = {row[0]:row[1:] for row in list_num }

In [109]:
rng_jobs = sht_job.range('A2:S25')
jobs = rng_jobs.options(numbers=int).value
row, col ,class_id = len(jobs), len(jobs[0]), jobs[2][1:]
print(class_id)

['一（1）', '一（2）', '二（1）', '二（2）', '二（3）', '三（1）', '三（2）', '三（3）', '四（1）', '四（2）', '五（1）', '五（2）', '六（1）', '七（1）', '七（2）', '八（1）', '八（2）', '九（1）']

In [115]:
teacher = []
for i in range(3, row):
    for j in range(1, col):
        tea = jobs[i][j]
        if tea:
            teacher.append({
                    'name': tea, 
                    'course': jobs[i][0], 
                    'grade': jobs[0][j],
                    'class': jobs[2][j], 
                    'num': dict_num[jobs[i][0]][jobs[0][j]-1]
                })
print(*teacher[:5],sep='\n===========\n')

{'grade': 1, 'class': '一（1）', 'name': '赵承珠', 'num': 8.0, 'course': '语文'}
===========
{'grade': 1, 'class': '一（2）', 'name': '赵承珠', 'num': 8.0, 'course': '语文'}
===========
{'grade': 2, 'class': '二（1）', 'name': '闫芳', 'num': 8.0, 'course': '语文'}
===========
{'grade': 2, 'class': '二（2）', 'name': '李佩珊', 'num': 8.0, 'course': '语文'}
===========
{'grade': 2, 'class': '二（3）', 'name': '闫芳', 'num': 8.0, 'course': '语文'}

In [116]:
group_teacher = itertoolz.groupby('name',teacher)

In [117]:
name = '刘丹丹'
sum([c['num'] for c in group_teacher['刘丹丹']])

12.0

In [90]:
for c in group_teacher[name]:
    temp = "{0}班-{1}-{2}节".format(c['class'],c['course'],str(c['num']))  
    print(c,class_id.index(c['class']))

{'grade': 3, 'class': '三（2）', 'name': '刘丹丹', 'num': 6.0, 'course': '数学'} 6
{'grade': 3, 'class': '三（3）', 'name': '刘丹丹', 'num': 6.0, 'course': '数学'} 7

In [98]:
workload = []

for key, value in group_teacher.items():
    tea = [key]
    total = 0
    detail = [None]*len(class_id)
    info = []
    for val in value:
        count = str(int(val['num']) if val['num'] == int(val['num']) else val['num'])
        temp = "{0}班-{1}-{2}节".format(val['class'],val['course'], count)
        total = total + val['num']
        info.append(temp)
        
        detail[class_id.index(val['class'])] = count +'-'+ val['course']
    tea.append(total)
    tea.extend(detail)
    tea.append(', '.join(info))
    workload.append(tea)

In [99]:
sht_cnt.range('B2').value = workload